@charset "utf-8";
/* CSS Document */
.floating-panel {
    position: absolute;
    right: 20px;
    /* left: 25%; */
    z-index: 100;
	width: 200px;
    top: 50px;
    background: #fff;
	padding-top:0;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
    border: 1px solid #999;
}
.floating-panel.left {
    left: 20px;
    padding-top: 20px;
}

.lebarCategory {
	width:100%;
}
